/* 	
	Kevin O'Toole
	VFW 1303
	Project 2
*/

/*
	Background color
*/
html {
	background: #6fbfe9;
	margin: 0px;
	padding: 0px;
	min-height: 416px;
}

/* 
	Page Heading for all pages
*/
h1{
	margin: 0px;
	padding: 5px;
	text-align: center;
	font-family: Harrington, "Times New Roman", Arial;
	font-weight: bold;
	text-shadow: 1px 1px 2px #c9f2ff;
}

/* 
	index.html css
*/ 
#compilation{
	text-align: center;
	font-family: "Times New Roman", Times, Arial;
}

#click{
	text-align: center;
	font-family: "Times New Roman", Times, Arial;
}

#button{
	text-align: center;
}

/*
	additem.html css
*/
#subHead{
	text-align: center;
	font-weight: normal;
}

fieldset{
	background: #9cdafb;
}